<mat-card>

  <mat-card-content>

    <mat-toolbar color="primary">Course Details</mat-toolbar>

    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <mat-label>Course name</mat-label>
        <input matInput formControlName="name" #name>
        <mat-hint align="start">{{name.value.length}} / 100</mat-hint>

        @if (form.get('name')?.invalid) {
          <mat-error>{{ getErrorMessage('name') }}</mat-error>
        }

      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Category</mat-label>

        <mat-select formControlName="category">
          <mat-option value="null"></mat-option>
          <mat-option value="Front-end">Front-end</mat-option>
          <mat-option value="Back-end">Back-end</mat-option>
        </mat-select>

        @if (form.get('category')?.invalid) {
          <mat-error>{{ getErrorMessage('category') }}</mat-error>
        }

      </mat-form-field>

      <mat-toolbar>
        <span>Lessons</span>
        <button mat-icon-button color="accent" (click)="addNewLesson()">
          <mat-icon aria-label="Add a new lesson">add</mat-icon>
        </button>
      </mat-toolbar>

      <table
        style="width: 100%"
        formArrayName="lessons"
        *ngFor="let lesson of getLessonsFormArray(); let i = index"
      >
        <tr [formGroupName]="i">
          <td style="width: 65%">
            <mat-form-field class="full-width">
              <mat-label>Lesson name</mat-label>
              <input matInput formControlName="name"/>
            </mat-form-field>
          </td>
          <td style="width: 30%">
            <mat-form-field class="full-width">
              <mat-label>YouTube URL</mat-label>
              <span matTextPrefix>https://youtu.be/</span>
              <input matInput formControlName="youtubeUrl"/>
            </mat-form-field>
          </td>
          <td>
            <button mat-icon-button color="warn" (click)="removeLesson(i)">
              <mat-icon aria-label="Remove this lesson">delete</mat-icon>
            </button>
          </td>
        </tr>
      </table>

    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">SAVE</button>
    <button mat-raised-button (click)="onCancel()">CANCEL</button>
  </mat-card-actions>

</mat-card>
